<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MakanAja</title>
    <!-- my fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar">
        <h1 class="brand-logo">MakanAja</h1>
        <ul class="nav-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/MuhammadAidil-dev">About Us</a></li>
        </ul>
        <button type="button" class="hamburger-menu">☰</button>
      </nav>
    </header>
    <main class="main">
      <div class="jumbo-tron">
        <img
          class="hero-image"
          src="/images/heros/hero-image_2.jpg"
          alt="hero image MakanAja"
        />
      </div>
      <div class="container">
        <h2>List Restaurant</h2>
        <div class="restaurant-list"></div>
      </div>
    </main>
  </body>
</html>
